@model KL_E_Commerce.Web.Areas.Vendors.Models.IndexStoreViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("+ Create Store", "Create")

@* List all stores belonging to the logged-in Vendor *@

<table class="table">
    <tr>
        <th>
            @Html.Label("Store Id")
        </th>
        <th>
            @Html.Label("Store Name")
        </th>
        <th>
            @Html.Label("Product")
        </th>
        <th>
            @Html.Label("Stock")
        </th>
        <th>
            @Html.Label("Status")
        </th>
    </tr>
    @foreach(var item in Model.StockedInStores)
    {
    <tr>
        <td>
            @Html.DisplayFor(m => item.StoreId)
        </td>
        <td>
            @Html.DisplayFor(m => item.Store.Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.Product.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(m => item.Status)
        </td>
    </tr>
    }
</table>